extends ../layout/index 
block contenido
    //- h1= pagina
    //- h1 #{pagina} lo mismo

    main.container.mt-5
        h1.text-center.mb-5 #{pagina}

    
        .row
            .col-md-12
                
                include ../layout/parciales/testimoniales

            .col-md-12
                h2.text-center Agrega un testimonial
                if(errores)
                    each error in errores
                        .alert.alert-warning.text-center=error.mensaje


                .row.justify-content-center
                    .col-md-8
                        form(action='/testimoniales' method="POST")
                            .form-group
                                label(for="nombre") Nombre
                                input#nombre(type="text", name="nombre" placeholder="Tu Nombre" value=nombre class="form-control")
                            
                            .form-group
                                label(for="correo") Correo
                                input#correo(type="email", name="correo", placeholder="Correo Electrónico" value=correo class="form-control")
                                
                            .form-group
                                label(for="mensaje") Mensaje
                                textarea#mensaje(name="mensaje", rows="3", class="form-control" placeholder="Tu mensaje")=mensaje

                            input.btn.btn-success.btn-block(type="submit" value="Agregar")